/* styles.css */
.btn2 {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  text-transform: uppercase;
  padding: 12px 0;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.btn2:hover {
  background-color: #ff7a45; /* Light orange background */
  color: #fff; /* White text */
}

.btn-view {
  justify-content: center;
  align-content: center;
}

.btn-view:hover {
  background-color: black; /* Light orange background */
  color: #fff; /* White text */
}
.view-btn {
  text-align: center; /* Centers inline and inline-block elements */
}

.btn-view {
  display: inline-block; /* Ensures button respects text alignment */
}
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) and (max-height: 548px) {
  #content {
    padding-bottom: 20px; /* Adjust the value as needed */
  }
}

@media (max-width: 1440px) and (max-height: 548px) {
  #content {
    padding-bottom: 20px; /* Adjust the value as needed */
  }
}

/* 
@media (max-width: 768px) {
  .display-3 {
    font-size: 2rem; /* Adjust headline size for tablets */
  /* } */

  /* .btn {
    padding: 0.5rem 1rem; /* Adjust button padding for smaller screens */
  /* } */
/* }

@media (max-width: 480px) {
  .display-3 {
    font-size: 1.5rem; /* Smaller headline for mobile */
  /* }

  h6 {
    font-size: 1rem;
  }

  .btn { */
    /* width: 100%; /* Make buttons stack for smaller devices */
    /* margin-bottom: 0.5rem;
  } */

  /* .ms-3 {
    margin-left: 0 !important; */
  /* } */
/* } */ 
